$label-color: #283645;   //основной темно-синий
$bg-color: #f2f2f2;   //серый фон
$pink-color: #d22856; //розовый
$gray-color:#dddfe0; //светло-серый (цвет неактивной кнопки)
$socblock-color: #e9ebec;  //обводка соц кнопок
$light-gray-color:#e5e5e5; //обводка полей форм

@mixin list {
  list-style: none;
	margin: 0;
	padding: 0;
}

@mixin clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}
