.footer {
	padding-top: 25px;
}

.footer__copyright {
	padding-top: 20px;
	font-size: 14px;
	line-height: 18px;
}

.footer__logo {
	display: inline-block;
	vertical-align: bottom;
	width: 37px;
}

@media (min-width: 700px) {
	.footer {
		display: flex;
		justify-content: space-between;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 25px;
	}
}
