.footer {
	padding-top: 25px;

	&--hidden {
		display: none;
	}
}

.footer__copyright {
	padding-top: 34px;
	font-size: 14px;
	line-height: 18px;
}

.footer__logo {
	display: inline-block;
	width: 37px;
	padding-left: 7px;
	vertical-align: bottom;
}

@media (min-width: 700px) {
	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 39px;
		padding-top: 18px;
		padding-right: 35px;
		padding-bottom: 25px;
	}

	.footer__copyright {
		padding-top: 22px;
	}
}

@media (min-width: 1200px) {
	.footer {
		padding-left: 130px;
		padding-right: 130px;
	}
}
