.form__title {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;

	&--hidden {
		display: none;
	}
}

.form__wrapper-item {
	padding-left: 20px;
	padding-right: 20px;

	&--check {
		background-color: $bg-color;
		padding-top: 30px;
		padding-bottom: 20px;
	}

	&--contact {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	&--os {
		background-color: $bg-color;
		padding-bottom: 40px;
	}
}

.form__field {
	margin-bottom: 15px;
	text-align: left;

	&--check {
		margin-bottom: 50px;
	}

	&--radio {
		margin-bottom: 30px;
	}
}

.form__item-title {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: $pink-color;
	margin-bottom: 50px;

	&--contact {
		display: none;
	}
}

.form__item-label{
	&--text {
		line-height: 30px;
		color: $pink-color;
		text-transform: uppercase;
		padding-left: 20px;
	}

	&--check {
		padding-left: 70px;
		position: relative;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: -10px;
			width: 39px;
			height: 39px;
			box-sizing: border-box;
			border: 2px solid $light-gray-color;
			background-color: white;

		}
	}

	&--radio {
		padding-left: 70px;
		position: relative;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: -8px;
			width: 35px;
			height: 35px;
			box-sizing: border-box;
			border: 10px solid white;
			border-radius: 50%;
			box-shadow: 0 0 0 2px $light-gray-color;
			background-color: white;
		}
	}
}

.form__item {
	&--text {
		width: 280px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 20px;
		border: 2px solid $light-gray-color;
		box-sizing: border-box;
		font-size: 18px;
		line-height: 30px;
		color: $label-color;

		&::placeholder {
			color: $label-color;
		}
	}

	&--check {
		display: none;

		&:checked+.form__item-label--check::before {
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../../img/icon-yes-checkbox.svg);
		}
	}

	&--radio {
		display: none;

		&:checked+.form__item-label--radio::before {
			background-color: $pink-color;
		}
	}
}

.form__textarea {
	width: 280px;
	height: 200px;
	padding-top: 15px;
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 30px;


	&::placeholder {
		color: $label-color;
	}
}

.form__required-field {
	line-height: 30px;
	text-transform: uppercase;

	&--pink {
		color:$pink-color;
	}
}


@media (min-width: 700px) {
	.form__title {
		font-size: 18px;
		line-height: 30px;
		padding-left: 100px;
		padding-right: 100px;
		margin-bottom: 0;

		&--hidden {
			display: inline;
			margin-bottom: 40px;
		}
	}

	.form__wrapper-item {
		display: flex;
		flex-wrap: wrap;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 40px;

		&--check {
			flex-direction: column;
			align-items: flex-start;
			padding-left: 120px;
			margin-left: 40px;
			margin-right: 40px;
			margin-bottom: 40px;
			background-color:  transparent;
			border: 2px solid $light-gray-color;
		}

		&--contact {
			margin-left: 40px;
			margin-right: 40px;
			margin-bottom: 40px;
			border: 2px solid $light-gray-color;
		}

		&--os {
			flex-direction: column;
			align-items: flex-start;
			padding-left: 120px;
			padding-bottom: 0;
			margin-left: 40px;
			margin-right: 40px;
			margin-bottom: 40px;
			border: 2px solid $light-gray-color;
			background-color: transparent;
		}

		&--textarea {
			flex-direction: column;
			align-items: center;
			padding-left: 60px;
			padding-right: 60px;
			padding-top: 45px;
			padding-bottom: 50px;
			margin-left: 40px;
			margin-right: 40px;
			border: 2px solid $light-gray-color;
		}
	}

	.form__item-label{
		&--text {
			padding-left: 0;
			padding-right: 20px;
		}

		&--check {
			padding-left: 0;

			&::before {
				left: -60px;
			}
		}

		&--hidden {
			display: none;
		}

		&--contact {
			padding-left: 15px;
			padding-top: 15px;
		}

		&--radio {
			padding-left: 0;

			&::before {
				left: -60px;
			}
		}
	}

	.form__field {
		display: flex;
		align-items: center;
		width: 100%;
		padding-bottom: 50px;

		&--check {
			margin-bottom: 0;
		}

		&--contact {
			flex-wrap: wrap;
			padding-bottom: 15px;
		}

		&--radio {
			padding-bottom: 15px;
		}
	}

	.form__item {
		&--text {
			width: 100%;
		}

		&--contact {
			order: -1;
		}
	}

	.form__item-title {
		&--check {
			margin-top: -50px;
			margin-left: -30px;
			padding-left: 30px;
			padding-right: 30px;
			background-color: white;
		}

		&--contact {
			display: inline;
			margin-top: -50px;
			margin-left: 140px;
			padding-left: 30px;
			padding-right: 30px;
			background-color: white;
		}

		&--radio {
			margin-top: -50px;
			margin-left: 0;
			padding-left: 30px;
			padding-right: 30px;
			background-color: white;
		}

		&--textarea {
			margin-top: -55px;
			margin-left: 0;
			padding-left: 30px;
			padding-right: 30px;
			background-color: white;
		}
	}

	.form__textarea {
		width: 100%;
		resize: none;
		border: 2px solid $light-gray-color;

	}
}
