.map {
	height: 220px;
	background-image: url(../../img/icon-map-marker.svg),
		url(../../img/bg-triangle-white-footer.svg),
		url(../../img/bg-map-tablet@1x.jpg);
	background-position: 143px 108px, center -3px, -190px -432px;
	background-repeat: no-repeat;
	background-size: 36px 36px, 500px 50px, 700px 848px;
}

@media (min-width: 700px) {
	.map {
		height: 380px;
		background-position: 335px 200px, center 0, 0 -340px;
		background-size: 36px 36px, 700px 72px, 700px;
	}
}

@media (min-width: 1200px) {
	.map {
		height: 500px;
		background-image: url(../../img/icon-map-marker.svg),
			url(../../img/bg-triangle-white-footer.svg),
			url(../../img/bg-map-desktop@1x.jpg);
		background-position: 585px 250px, center 0, 0 -290px;
		background-size: 36px 36px, 1200px 55px, 1200px 976px;
	}
}
