.page-header {
	background:url(../img/iphone-hand-mobile@1x.png),
		url(../../img/bg-back-mobile@1x.jpg);
	background-position: left 176px, top;
	background-repeat: no-repeat;

}

@media (min-width: 700px) {
	.page-header {
	background:url(../img/iphone-hand-tablet@1x.png),
		url(../../img/bg-back-tablet@1x.jpg);
	background-position: center 184px, top;
	background-repeat: no-repeat;
		@include clearfix;
	}
}
