.reviews__diagram {
	display: none;
}

.reviews__item {
	padding-top: 43px;
	padding-bottom: 35px;
}

.reviews__author {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.reviews__author-info {
	display: none;
}

.reviews__text {
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 15px;
	margin-bottom: 35px;
}

@media (min-width: 700px) {
	.reviews__diagram {
		display: block;
		position: relative;
		padding-left: 350px;
		padding-bottom: 50px;
		text-align: left;
		background:
			url(../img/icon-editor-diagram-fill.svg),
			url(../../img/icon-timer.svg);
		background-repeat: no-repeat;
		background-size: 204px, 240px;
		background-position: 57px 84px, 40px 30px;
	}

	.reviews__diagram-title {
		padding-top: 50px;
		margin-top: 0;
		font-size: 30px;
		line-height: 36px;
		color: black;
	}

	.reviews__diagram-text {
		padding-right: 50px;
		margin-bottom: 20px;
	}

	.reviews__diagram-link {
		font-size: 14px;
		line-height: 24px;
		color: $pink-color;
	}

	.reviews__diagram-time {
		position: absolute;
		left: 106px;
		top: 110px;
		font-size: 96px;
		line-height: 150px;
		font-weight: 700;
		color: $pink-color;
	}

	.reviews__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 20px;
	}

	.reviews__text {
		order: 1;
		font-size: 18px;
		line-height: 30px;
		padding-left: 40px;
		padding-right: 40px;
	}

	.reviews__author {
		order: 2;
		font-size: 20px;
	}

	.reviews__author-info {
		display: block;
		order: 3;
		line-height: 30px;
		color: $label-color;
	}

}

@media (min-width: 1200px) {
	.reviews__diagram {
		padding-bottom: 100px;
		padding-left: 490px;
		padding-right: 230px;
		background-color: $bg-color;
		background-position: 130px 84px, 112px 30px;
	}

	.reviews__diagram-time {
		left: 175px;
	}

	.reviews__text {
		position: relative;
		padding-top: 170px;
		padding-left: 240px;
		padding-right: 240px;
		background-image: url(../../img/icon-quotes.svg);
		background-repeat: no-repeat;
		background-position: center 35px;

		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 22px;
			height: 42px;
			top: 190px;
			left: 130px;
			background-image: url(../../img/icon-review-arrow-left.svg);
			background-repeat: no-repeat;
		}

		&:hover::before {
			cursor: pointer;
			background-image: url(../../img/icon-review-arrow-left-hover.svg);
		}

		&:active::before {
			background-image: url(../../img/icon-review-arrow-left-act.svg);
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 22px;
			height: 42px;
			top: 190px;
			right: 130px;
			background-image: url(../../img/icon-review-arrow-right.svg);
			background-repeat: no-repeat;
		}

		&:hover::after {
			cursor: pointer;
			background-image: url(../../img/icon-review-arrow-right-hover.svg);
		}

		&:active::after {
			background-image: url(../../img/icon-review-arrow-right-act.svg);
		}
	}
}
